<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result Management System - Teacher Login</title>
    <%- include("./partials/imports") -%>
  </head>
  <body>
    <%- include("./partials/header") -%>

    <%- include("./partials/message",{msg:message}) -%>
    <div class="container-fluid teacher-login-container">
      <div class="col con d-flex align-items-center justify-content-center">
        <div class="card p-4 teacher-login-card">
          <form action="/getTeacherLogin" method="post" class="teacher-login-form">
            <div class="text-center">
              <strong class="m-2 fs-5 teacher-login-title">Teacher Login </strong>
            </div>
            <div class="form-group p-2">
              <label for="teacher-email">Email</label>
              <input
                type="email"
                class="form-control"
                placeholder="Enter Your Email"
                name="email"
                required
              />
            </div>
            <div class="form-group p-2">
              <label for="teacher-password">Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="Enter Your Password"
                name="password"
                pattern="\b.{6,}\b"
                required
              />
            </div>
            <div class="p-2 row">
              <button
                type="submit"
                class="btn btn-md bg-light-green border-light-green teacher-login-btn"
              >
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
