<header class="bg-dark text-light text-center p-3 d-flex justify-content-between">
  <div class="d-flex align-items-center">
    <h1 class="fw-bold mb-0">Result Management System</h1>
  </div>
  <% if (isUserAuth) { %>
    <a class="btn btn-lg m-1 bg-danger text-light border border-2 px-4 fw-semibold border-dark float-end" href="/logout">Logout</a>
  <% } %>
  
  
</header>
